:root {
  --tamanho-containers: 50%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 2.5rem;
}
.container > div {
  max-width: var(--tamanho-containers);
}

.traco {
  width: 10%;
  height: 8px;
  border-radius: 10px;
  background-color: rgb(78, 172, 204);
  margin: 20px 0px 50px 0px;
}

.img-protagonista {
  height: 170px;
  border: 2px solid black;
}
#nome {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
#descricao-prot {
  text-align: center;
  font-weight: bold;
  color: rgb(5, 86, 178);
  margin-bottom: 20px;
}

.cont-botoes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-botoes div {
  font-size: 1rem;
  width: 35%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
